@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', Helvetica, sans-serif;
}

body {
  background-color: #000000;
  color: #ffffff;
}

header {
  width: 100%;
  text-align: center;
}

header h1 {
  margin: 2rem auto;
  padding: 1rem;
  font-size: 3rem;
}

a {
  color: #79f3d4;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
}

.video_component {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  margin: 0 auto;
}

video:focus {
  outline: none;
}

.landscape_image {
  width: 75%;
  margin: 0 auto;
}

.landscape_image h1 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}

.landscape_image h3 {
  text-align: center;
  padding: 1rem 0;
  color: #808385;
  font-size: 1.4rem;
}

.landscape_image img {
  width: 100%;
  margin: 0 aut
  padding: 1rem;
}

.coming_soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.coming_soon h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.coming_soon img {
    padding: 2rem 0;
}